@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
        font-family: 'Roboto', sans-serif;
        background-color: #e5e5e5;
        max-width: 614px;
    }
    
    .top {
        background-color: #CF2B2B;
        width: 100%;
        max-width: 614px;
        height: 92px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-left: 21px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
    }
    
    .top h1 {
        font-family: 'Righteous', cursive;
        color: white;
        font-size: 44px;
        margin-top: 8px;
    }
    
    .top h4 {
        color: white;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 18px;
    }
    
    .content {
        width: 100%;
        max-width: 614px;
        margin: 96px 0 112px;
        padding-top: 27px;
        padding-left: 19px;
        box-sizing: border-box;
    }
    
    .category {
        margin-bottom: 27px;
        overflow-x: auto;
    }
    
    .category h2 {
        font-family: 'Righteous', cursive;
        font-size: 26px;
        position: sticky;
        left: 0;
        top: 0;
        margin-bottom: 17px;
    }
    
    .items {
        width: fit-content;
        height: fit-content;
        display: flex;
    }

    .items:last-child {
        margin-right: 3px;
    } 
    
    .item {
        width: 172px;
        height: 216px;
        border-radius: 9px;
        background-color: white;
        box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0 13px 0;
        position: relative;
        box-sizing: border-box;
    }

    .item img {
        width: 144px;
        height: 87px;
        object-fit: cover;
        border-radius: 4px;
    }

    .item h3 {
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        width: 144px;
        text-align: left;
    }

    .item p {
        font-size: 15px;
        font-weight: 300;
        color: rgba(166, 166, 166, 1);
        display: inline-block;
        width: 144px;
        text-align: left;
    }

    .item h5 {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        width: 144px;
        text-align: left;
    }

    .bottom {
        width: 100%;
        max-width: 614px;
        height: 92px;
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .order {
        border: 0;
        width: 80%;
        min-height: 61px;
        height: fit-content;
        border-radius: 50px;
        background-color: rgba(203, 203, 203, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom h5 {
        width: 60%;
        font-size: 20px;
        color: white;
        box-sizing: border-box;
    }

    .border {
        box-shadow: inset 0 0 0 5px  rgba(50, 183, 47, 1);
    }

    .check {
        color: rgba(50, 183, 47, 1);
        position: absolute;
        right: 12.78px;
        bottom: 15.78px;
    }

    .hidden {
        display: none;
    }

    .allowed {
        background-color: rgba(50, 183, 47, 1);
    }